[submodule "vim-janus/.vim"]
	path = vim-janus/.vim
	url = https://github.com/carlhuda/janus.git
[submodule "vim-janus/.janus/taglist.vim"]
	path = vim-janus/.janus/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
