[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
